name: Build - GitHub Remote

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-github-remote

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Kunernetes Buildx Remote
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" | base64 -d > ./kubeconfig
          export KUBECONFIG=$PWD/kubeconfig
          kubectl create namespace buildx-${{ github.sha }} || true
          kubectl label namespace buildx-${{ github.sha }} pod-security.kubernetes.io/enforce=privileged --overwrite
          docker buildx create --name remote-build --use --driver kubernetes --driver-opt namespace=buildx-${{ github.sha }} --driver-opt "nodeselector=kubernetes.io/arch=amd64" --platform linux/amd64
          docker buildx create --name remote-build --append --driver kubernetes --driver-opt namespace=buildx-${{ github.sha }} --driver-opt "nodeselector=kubernetes.io/arch=arm64" --platform linux/arm64
          docker buildx inspect --bootstrap

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Remove Docker Buildx Remote
        run: |
          docker buildx rm remote-build
          kubectl delete namespace buildx-${{ github.sha }}