name: Build - GitHub Remote TCP

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-github-remote

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Kunernetes Buildx Remote
        run: |
          echo "${{ secrets.CA_CERT }}" > ./ca.crt
          echo "${{ secrets.CLIENT_CERT }}" > ./client.crt
          echo "${{ secrets.CLIENT_KEY }}" > ./client.key
          docker buildx create --name remote-build --use    --driver remote --driver-opt ca=./ca.crt --driver-opt cert=./client.crt --driver-opt key=./client.key --drive-opt --platform linux/amd64 tcp://20.120.181.102:1234
          docker buildx create --name remote-build --append --driver remote --driver-opt ca=./ca.crt --driver-opt cert=./client.crt --driver-opt key=./client.key --drive-opt --platform linux/arm64 tcp://20.51.113.181:1234

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
